*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.flex-center{
    justify-content: center;
}

#fondo{
    height: 90vh;
    background-image: url(../img/dimension-products/Dimension-hoddie-80-Outrun.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    padding: 30px;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: underline;
    margin-left: 240px;
    text-align: center;
}

.advice-title{
    background: repeating-linear-gradient(-45deg, rgb(21,3,7) 2px, rgb(21,3,7) 2px, rgb(90, 22, 37) 5px, rgb(116, 28, 47) 7px);
    padding-bottom: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.advice-title{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 55px;
    font-weight: 900;
}

.favorite-galery-title{
    font-size: 32px;
    color: white;
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 27px;
    font-weight: bold;
}

.favorite-galery-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-galery-ind{
    width: 28%;
    text-align: center;
}

.img-favorite-galery{
    width: 93%;
    height: 93%;
    padding-left: 24px;
    padding-right: 24px;
}

.favorite-galery a{
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 8px;
    text-decoration: transparent;
}

.precios{
    margin-top: 30px;
    margin-bottom: 30px;
}

.precios-div{
    display: flex;
    justify-content: start;
}

.precio-camisetas-titulo{
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(67, 101, 163);
    font-size: 25px;
}

.precio-camisetas{
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: 50px;
}

.precio-sudaderas-titulo{
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(67, 101, 163);
    font-size: 25px;
}

.precio-sudaderas{
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: 50px;
}

.contenido-linea{
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 3px;
    background: radial-gradient(circle at center, #474747 , #0000);
}

.acclaimed-title{
    color: white;
    font-size: 38px;
    text-align: left;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contenedor-acclaimed-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-acclaimed-ind{
    width: 30%;
    text-align: center;
}

.contenedor-acclaimed-ind img{
    width: 80%;
    height: 80%;
}

.dark-melancholy-section{
    padding-bottom: 30px;
}

.title-ropa{
    color: white;
    font-size: 38px;
    text-align: left;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contenedor-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-galeria-ind{
    width: 28%;
    text-align: center;
}

.contenedor-galeria-ind img{
    width: 93%;
    height: 93%;
}

.dimension-section{
    padding-bottom: 30px;
}

.title-dimension{
    color: #e650d2;
    font-size: 45px;
    text-align: left;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 38px;
}

.tuda-section{
    padding-bottom: 30px;
}

.title-tuda{
    color: #FFA9F4;
    font-size: 45px;
    text-align: left;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 38px;
}

.contenedor-tuda-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-tuda-ind{
    width: 28%;
    text-align: center;
}

.contenedor-tuda-ind img{
    width: 70%;
    height: 70%;
}

.name-product{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

.product-price{
    color: white;
    font-weight: 860;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.button-shop{
    background: rgb(255, 4, 4);
    color: white;
    display: inline-block;
    font-size: 1.25em;
    padding: 18px 10px;
    text-align: center;
    width: 160px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 3px 0px rgb(105, 1, 1);
}

.icon{
    margin-right: 5px;
}

.download-section{
    padding-bottom: 30px;
}

.title-descarga{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.download-image-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-image-ind{
    width: 30%;
    text-align: center;
}

.download-title-image{
    color: white;
    font: 23px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.download-image-ind img{
    width: 80%;
    height: 80%;
}

.button-download-wallpaper{
	background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width: 220px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button-download-poster{
	background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button-download-wth-cell-phone-background{
    background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button span {
	margin-right:10px;
}

.contenedor-footer{
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.titulo-final {
    text-align: center;
    margin: 20px;
    color: rgb(24, 24, 24);
    font-size: 30px;
}

.loader_animation{
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    transition: all 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}  

.loader_animation div{
    position: relative;
}

.loader_animation > div{
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem 0.8rem;
    border-radius: 50%;
    background-color: white;
    animation: loader-animation .6s infinite alternate;
}

@keyframes loader-animation{
    to{
        opacity: .1;
        transform: translate3d(0, -1rem, 0);
    }
}

.loader_animation > div:nth-child(2){
    animation-delay: .2s;
}

.loader_animation > div:nth-child(3){
    animation-delay: .3s;
}