*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.flex-center{
    justify-content: center;
}

#fondo{
    height: 90vh;
    background-image: url(../img/RESET-HODDIE-80-DARK-AESTHETIC.png);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    padding: 30px 10px;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: underline;
    margin-left: 140px;
    text-align: center;
}

.title-merch{
    text-align: center;
    color: red;
    margin: 56px;
    margin-bottom: 20px;
    font-size: 50px;
    text-decoration: underline;
}

.subtitle-merch{
    text-align: center;
    color: rgb(143, 3, 3);
    font-size: 18px;
}

.dark-melancholy-section {
    padding-bottom: 30px;
}

.title-ropa{
    color: #6e6e73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.sub-title-ropa{ 
    color: #4f4f53;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 30px;
}

.contenedor-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-galeria-ind{
    width: 28%;
    text-align: center;
}

.contenedor-galeria-ind img{
    width: 93%;
    height: 93%;
}

.name-product{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.button-shop{
    background: rgb(255, 4, 4);
    color: white;
    display: inline-block;
    font-size: 1.25em;
    padding: 18px 10px;
    text-align: center;
    width: 160px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 3px 0px rgb(105, 1, 1);
}

.icon{
    margin-right: 5px;
}

.flex-center-soundcloud{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo-soundcloud{
    width: 100%;
    height: 100%;
    background-image: url(../img/WTH\ DESIGN.png);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.soundcloud-title{
    font-size: 20px;
    color: white;
    text-align: center;
}

.button {
	background: #f38e30;
	color: #fff;
	display: inline-block;
	font-size: 1.25em;
	margin: 20px;
    padding-left: 10px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
    border-radius: 4px 3px 6px / 2px 4px;
	box-shadow: 0px 3px 0px #a86221;
}

.button span {
	margin: auto;
}

.precios{
    margin-top: 30px;
    margin-bottom: 30px;
}

.precios-div{
    display: flex;
    justify-content: start;
}

.precio-camisetas-titulo{
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(67, 101, 163);
    font-size: 25px;
}

.precio-camisetas{
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: 50px;
}

.precio-sudaderas-titulo{
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(67, 101, 163);
    font-size: 25px;
}

.precio-sudaderas{
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: 50px;
}

.seccion-descarga{
    padding-bottom: 30px;
}

.title-descarga{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.download-image-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-image-ind{
    width: 30%;
    text-align: center;
}

.download-title-image{
    color: white;
    font: 23px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.download-image-ind img{
    width: 80%;
    height: 80%;
}

.button-download-wallpaper{
	background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width: 220px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button-download-poster{
	background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button-download-wth-cell-phone-background{
    background:#5f74e9;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px / 2px 4px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #272f72;
}

.button span {
	margin-right:10px;
}

.contenedor-footer{
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.titulo-final {
    text-align: center;
    margin: 20px;
    color: rgb(24, 24, 24);
    font-size: 30px;
}

.loader_animation{
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    transition: all 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}  

.loader_animation div{
    position: relative;
}

.loader_animation > div{
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem 0.8rem;
    border-radius: 50%;
    background-color: white;
    animation: loader-animation .6s infinite alternate;
}

@keyframes loader-animation{
    to{
        opacity: .1;
        transform: translate3d(0, -1rem, 0);
    }
}

.loader_animation > div:nth-child(2){
    animation-delay: .2s;
}

.loader_animation > div:nth-child(3){
    animation-delay: .3s;
}